@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Dentist</PageTitle>


<NavBar></NavBar>

<!-- Main Section-->
<section class="page-section" id="services">
    <div class="container-fluied">

        @Body
    </div>
</section>


<Footer></Footer>