<!-- Footer-->
<footer class="footer pt-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 text-lg-start footer-first-column">
                <div style="padding-left: 1rem;">
                    <img class="footer-img" src="/assets/img/Yassin/dntl-bar_MainLogo_Cream.png" alt="..." />
                </div>
                <div>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter" style="background-color: white;"><i class="fab fa-twitter" style="color : black;"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook" style="background-color: white;"><i class="fab fa-facebook-f" style="color : black;"></i></a>
                </div>
            </div>
            <div class="col-lg-4 my-3 my-lg-0 d-flex">
                <div class="foot-sec-cl1">
                    <ul style="padding-left :0; margin-top: 4rem;">
                        <li class="foot-sec-cl-li">
                            <a href="" class="elementor-item">About Us</a>
                        </li>
                        <li class="foot-sec-cl-li">
                            <a href="" class="elementor-item">CAREERS</a>
                        </li>
                        <li  class="foot-sec-cl-li">
                            <a href="" class="elementor-item">PRIVACY POLICY</a>
                        </li>
                        <li class="foot-sec-cl-li">
                            <a href="" class="elementor-item">FAQS</a>
                        </li>
                    </ul>
                </div>
                <div class="foot-sec-cl2">
                    <ul style="padding-left :0; margin-top: 4rem;">
                        <li class="foot-sec-cl-li">
                            <a href="" class="elementor-item">PRESS</a>
                        </li>
                        <li class="foot-sec-cl-li">
                            <a href="" class="elementor-item">NON DISCRIMINATION</a>
                        </li>
                        <li class="foot-sec-cl-li">
                            <a href="" class="elementor-item">COVID-19</a>
                        </li >
                         <li class="foot-sec-cl-li">
                            <a href="" class="elementor-item">BLOG</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-4 text-lg-end d-flex foot-third-cl">
                <div class="foot-third-cl1">
                    <h1 class="foot-third-cl1-h1" style="text-align:start;">CONTACT US</h1>
                    <ul style="padding-left :0; margin-top: 3rem;">
                        <li class="foot-third-cl1">
                            <h5>CALL</h5>
                            <a href="" class="elementor-item">064-DNTL-BAR</a>
                        </li>
                        <li class="foot-third-cl1">
                            <h5>E-MAIL</h5>
                            <a href="" class="elementor-item">Ismailia@dntlbar.com</a>
                        </li>
                    </ul>
                </div>
                <div class="foot-sec-cl2">
                    <h1 class="foot-third-cl2-h1">
                        SUBSCRIBE TO OUR MAILING LIST!
                    </h1>
                    <div>
                        <input type="email" class="form-control" placeholder="ENTER EMAIL HERE"/>
                    </div>
                   
                   
                </div>
            </div>
        </div>
    </div>
</footer>


@* <footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Ahmed Nouh 2023</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer> *@
@code {

}
