<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">
                <div>
                    <img class="footer-img" src="/assets/img/Yassin/dntl-bar_MainLogo_Cream.png" alt="..." />
                </div>
                <div>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter" style="background-color: white;"><i class="fab fa-twitter" style="color : black;"></i></a>
                    <a class="btn btn-dark btn  -social mx-2" href="#!" aria-label="Facebook" style="background-color: white;"><i class="fab fa-facebook-f" style="color : black;"></i></a>
                </div>
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <ul style="padding-left :0;">
                    <li>
                        <a href="" class="elementor-item">About Us</a>
                    </li>
                    <li>
                        <a href="" class="elementor-item">About Us</a>
                    </li>
                    <li>
                        <a href="" class="elementor-item">About Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 text-lg-end">
                <ul style="padding-left :0;">
                    <li>
                        <a href="" class="elementor-item">About Us</a>
                    </li>
                    <li>
                        <a href="" class="elementor-item">About Us</a>
                    </li>
                    <li>
                        <a href="" class="elementor-item">About Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>


@* <footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Ahmed Nouh 2023</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer> *@
@code {

}
