@page "/"
@inject AuthenticationStateProvider AuthStatProvider
@inject ILocalStorageService localStorage


<PageTitle>Dnt lBar</PageTitle>


<div style="text-align:center;margin-top: 3rem;">
    <button class="book-now-btn" style="margin:auto">BOOK NOW</button>
    <h3></h3>
</div>

<div class="row p-2  m-5 justify-content-around" style="margin-bottom: 14rem !important;">
    <div class="  col-lg-4 col-md-8 col-sm-12">
        <h1 class="dnt-main-h1 mb-5">
            dental <br>
            for the <br>
            people.
        </h1>
        <h2 class="" style="font-size: 25px;">A dentist experience that finally puts you at the center.<br><br>Call or text to book: 1-646-969-5632<br></h2>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
        <video class="dnt-video" autoplay muted loop>
            <source src="/assets/vid/dntlbar.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<div class="row p-2  m-5 justify-content-around" style="margin-bottom: 14rem !important;">
    <div class="col-lg-5 col-md-8 col-sm-12 main-image-container">
        <img src="/assets/img/dnt/chaire.jpeg" style="width: 89%;" />
    </div>
    <div class="  col-lg-7 col-md-8 col-sm-12">
        <h2 class="dnt-main-h2 mb-5"> our promise to you </h2>
        <p class="dnt-main-p" style="font-size: 20px;font-weight: 400;">You deserve the very best dental care—but the dental industry just doesn’t work for you. We are dntl bar—and we’re the people’s dentist. We’re revolutionizing dental care to put you at the very center. Get the dental care you need with: </p>
        <div class="d-flex">
            <div style="margin-right: 11rem;">
                <ul style="padding-left :0;">
                    <li>
                        <span class="our-promise-main-icon"><i aria-hidden="true" class="fas fa-check-circle" style="height: 21px;"></i></span>
                        <span class="our-promise-main-span">Convenient NYC locations</span>
                    </li>
                    <li>
                        <span class="our-promise-main-icon"><i aria-hidden="true" class="fas fa-check-circle" style="height: 21px;"></i></span>
                        <span class="our-promise-main-span">Convenient NYC locations</span>
                    </li>
                    <li>
                        <span class="our-promise-main-icon"><i aria-hidden="true" class="fas fa-check-circle" style="height: 21px;"></i></span>
                        <span class="our-promise-main-span">Convenient NYC locations</span>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <span class="our-promise-main-icon"><i aria-hidden="true" class="fas fa-check-circle" style="height: 21px;"></i></span>
                        <span class="our-promise-main-span">Short wait times</span>
                    </li>
                    <li>
                        <span class="our-promise-main-icon"><i aria-hidden="true" class="fas fa-check-circle" style="height: 21px;"></i></span>
                        <span class="our-promise-main-span">Luxury amenities</span>
                    </li>
                    <li>
                        <span class="our-promise-main-icon"><i aria-hidden="true" class="fas fa-check-circle" style="height: 21px;"></i></span>
                        <span class="our-promise-main-span">Transparent pricing</span>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>


<Slider></Slider>

@code
{
   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
            // Fetch the token from local storage
            await localStorage.GetItemAsStringAsync("token");

            // Update the authentication state
            await AuthStatProvider.GetAuthenticationStateAsync();
       
    }


}
