@page "/register"
@inject Account _account



<div class="row login-row">
    <div class="col-6 login-first-column main-login-image-container ">
        <img class="login-img" src="/assets/img/dnt/register-login.jpeg" />
    </div>
    <div class="col-4 register-form-div">
        <EditForm Model="registrationDTO" OnValidSubmit="Save" class="register-form">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div>
                <lable login-register-label>First Name</lable>
                <InputText @bind-Value="registrationDTO.FirstName" class="form-control"></InputText>
                <ValidationMessage For="()=>registrationDTO.FirstName" class="text-danger"></ValidationMessage>
            </div>
            <div>
                <div>
                    <lable login-register-label>Last Name</lable>
                    <InputText @bind-Value="registrationDTO.LastName" class="form-control"></InputText>
                    <ValidationMessage For="()=>registrationDTO.LastName" class="text-danger"></ValidationMessage>
                </div>
                <div>
                    <lable login-register-label>User Name</lable>
                    <InputText @bind-Value="registrationDTO.UserName" class="form-control"></InputText>
                    <ValidationMessage For="()=>registrationDTO.UserName" class="text-danger"></ValidationMessage>
                </div>
                <div>
                    <div>
                        <lable login-register-label>Email</lable>
                        <InputText @bind-Value="registrationDTO.Email" class="form-control"></InputText>
                        <ValidationMessage For="()=>registrationDTO.Email" class="text-danger"></ValidationMessage>
                    </div>
                    <div>
                        <lable login-register-label>Password</lable>
                        <InputText type="password" @bind-Value="registrationDTO.Password" class="form-control"></InputText>
                        <ValidationMessage For="()=>registrationDTO.Password" class="text-danger"></ValidationMessage>
                    </div>
                    <div>
                        <lable login-register-label>Confirm Password</lable>
                        <InputText type="password" @bind-Value="registrationDTO.ConfirmPassword" class="form-control"></InputText>
                        <ValidationMessage For="()=>registrationDTO.ConfirmPassword" class="text-danger"></ValidationMessage>
                    </div>
                    <lable login-register-label>Phone Number</lable>
                    <InputText @bind-Value="registrationDTO.PhoneNumber" class="form-control"></InputText>
                    <ValidationMessage For="()=>registrationDTO.PhoneNumber" class="text-danger"></ValidationMessage>
                </div>
                <lable login-register-label>Address</lable>
                <InputText @bind-Value="registrationDTO.Address" class="form-control"></InputText>
                <ValidationMessage For="()=>registrationDTO.Address" class="text-danger"></ValidationMessage>
            </div>
            <input type="submit" value="Sign up" />
        </EditForm>
    </div>
</div>

@* 

<div class="register-form-div">
    <EditForm  Model="registrationDTO" OnValidSubmit="Save" class="register-form">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div>
            <lable login-register-label>First Name</lable>
            <InputText @bind-Value="registrationDTO.FirstName" class="form-control"></InputText>
            <ValidationMessage For="()=>registrationDTO.FirstName" class="text-danger"></ValidationMessage>
        </div>
        <div>
            <div>
                <lable login-register-label>Last Name</lable>
                <InputText @bind-Value="registrationDTO.LastName" class="form-control"></InputText>
                <ValidationMessage For="()=>registrationDTO.LastName" class="text-danger"></ValidationMessage>
            </div>
            <div>
                <lable login-register-label>User Name</lable>
                <InputText @bind-Value="registrationDTO.UserName" class="form-control"></InputText>
                <ValidationMessage For="()=>registrationDTO.UserName" class="text-danger"></ValidationMessage>
            </div>
            <div>
                <div>
                    <lable login-register-label>Email</lable>
                    <InputText @bind-Value="registrationDTO.Email" class="form-control"></InputText>
                    <ValidationMessage For="()=>registrationDTO.Email" class="text-danger"></ValidationMessage>
                </div>
                <div>
                    <lable login-register-label>Password</lable>
                    <InputText type="password" @bind-Value="registrationDTO.Password" class="form-control"></InputText>
                    <ValidationMessage For="()=>registrationDTO.Password" class="text-danger"></ValidationMessage>
                </div>
                <div>
                    <lable login-register-label>Confirm Password</lable>
                    <InputText type="password" @bind-Value="registrationDTO.ConfirmPassword" class="form-control"></InputText>
                    <ValidationMessage For="()=>registrationDTO.ConfirmPassword" class="text-danger"></ValidationMessage>
                </div>
                <lable login-register-label>Phone Number</lable>
                <InputText @bind-Value="registrationDTO.PhoneNumber" class="form-control"></InputText>
                <ValidationMessage For="()=>registrationDTO.PhoneNumber" class="text-danger"></ValidationMessage>
            </div>
            <lable login-register-label>Address</lable>
            <InputText @bind-Value="registrationDTO.Address" class="form-control"></InputText>
            <ValidationMessage For="()=>registrationDTO.Address" class="text-danger"></ValidationMessage>
        </div>
        <input type="submit" value="Save" />
    </EditForm>
</div>
  *@
@code {
    public RegistrationDTO registrationDTO { get; set; } = new RegistrationDTO();
    [Inject]
    public NavigationManager navManager { get; set; }

    public async void Save()
    {
        await _account.Registration(registrationDTO);
        navManager.NavigateTo("/login");    

    }
}
  