@page "/resetpassword/{Email}/{Token}"
@inject NavigationManager navManager
@inject Account _account
<h1>@Email</h1>

<h1>@Token</h1>


<EditForm Model="resetPasswordDTO" OnValidSubmit="Reset" class="reset-password-form">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>           
        <div>
                <InputText  @bind-Value="Email" class="form-control"></InputText>
                <InputText @bind-Value="Token" class="form-control"></InputText>
            <div>
            <lable login-register-label>New Password</lable>
                <InputText  type="password" @bind-Value="resetPasswordDTO.NewPassword" class="form-control"></InputText>
                <ValidationMessage For="()=>resetPasswordDTO.NewPassword" class="text-danger"></ValidationMessage>
            </div>
            <div>
                <lable login-register-label>Confirm Password</lable>
                <InputText type="password" @bind-Value="resetPasswordDTO.ConfirmNewPassword" class="form-control"></InputText>
            </div>
            
           
       </div>
    <input type="submit" value="" />
</EditForm>

@code {

    public ResetPasswordDTO resetPasswordDTO { get; set; } = new ResetPasswordDTO();
    [Parameter]
    public string Email { get; set; } 
    [Parameter]
    public string Token { get; set; } 

    public async void Reset()
    {
        resetPasswordDTO.Email = Email;
        resetPasswordDTO.EmailToken = Token;
        await  _account.ResetPassword(resetPasswordDTO);
        navManager.NavigateTo("/");

    }
}
